#TravelPackages{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

#TravelPackages h4{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #2C4251;
  margin: 12vh 40px;
}

#travelContainer{
  height: fit-content;
  width: 100%;
  width: fit-content;
  margin: 12vh 40px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 10px;
}

.package{
  height: 400px;
  border: 1px solid #2c425120;
  border-radius: 20px;
  padding: 20px;
  transition: ease 0.5s;
}

.package:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.611);
}

.package img{
  height: 200px;
  border-radius: 20px;
}

.package h5{
  margin-top: 20px;
  font-size: 1.5rem;
  color: #2C4251;
}

.package p{
  font-size: 1rem;
  color: #2C4251;
}